.Navigation
    display flex
    flex-direction column
    padding 20px
    box-sizing border-box
    transition transform .2s ease-out, opacity .2s ease-out
    z-index 1

    &.slide-in-enter
    &.slide-out-leave
    &.slide-out-leave-active
        opacity 0
        transform translateX(50%)

    &.slide-out-enter
    &.slide-in-leave
    &.slide-in-leave-active
        opacity 0
        transform translateX(-50%)

    .item
        padding 10px
        text-decoration none
        text-align left
        text-decoration none
        color #222

        &.focused
            box-shadow inset 0 0 0 3px #222
        &.active
            background-color #222
            color #f2f2f2

        &hover
            transform scale(.99)
