.Home
    position: absolute
    display: flex
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    justify-content: center
    align-items: center
    user-select: none

    .phrase
        animation: breathe 4s ease-in-out infinite

@keyframes breathe
    0%
        opacity: 0
        transform: scale(.95)
    40%
        opacity: 1
        transform: scale(1)
    100%
        opacity: 0
        transform: scale(.95)
